@model docs_project.Presentation.ViewModels.Auth.LoginViewModel

<h1>Login</h1>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="ReturnUrl" type="hidden" />

    <div>
        <label asp-for="UsernameOrEmail"></label>
        <input asp-for="UsernameOrEmail" />
        <span asp-validation-for="UsernameOrEmail"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Sign in</button>
</form>

<div asp-validation-summary="ModelOnly"></div>
<p>
    No account yet?
    <a asp-action="Register">Register</a>
</p>

